@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
  }
}

.advantages__title {
  margin: 0;
  margin-top: 29px;
  font-family: $font-oswald;
  font-size: 36px;
  color: $black;
  font-weight: 400;
  line-height: 36px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin-top: 47px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    margin-top: 76px;
  }
}

.advantages__list {
  margin: 0;
  padding: 42px 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 134px;
    padding-top: 72px;
    padding-bottom: 103px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 65px;
    padding-bottom: 126px;
  }
}

.advantages__item {
  min-height: 60px;
  margin-left: 80px;
  margin-bottom: 20px;
  font-family: $font-arial;
  font-size: 14px;
  color: $dark-grey;
  line-height: 18px;

  &--last-item {
    margin-bottom: 0;
  }

  br {
    display: none;
  }

  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    margin-left: -80px;
    background-color: $light-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--food-amount::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--month-later::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    position: relative;
    width: 260px;
    margin: 0;
    margin-top: 111px;
    font-size: 16px;
    line-height: 24px;

    br {
      display: inline;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-left: 0;
      margin-top: -111px;
    }

    &::after {
      display: inline-block;
      position: absolute;
      content: attr(data-attr);
      z-index: -1;
      top: -150px;
      right: 25px;
      font-family: $font-oswald;
      color: $light-grey;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
    }
  }
}
