.bonus {
  margin-top: 39px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 35px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg"),
                    linear-gradient(to bottom, $light-green 85%, transparent 85%);
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg"),
    linear-gradient(to bottom, $light-green 85%, transparent 85%);
  }
}

@media (min-width: $tablet-width) {
  .bonus {
    width: 708px;
    margin-top: 69px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 75px;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg"),
                      linear-gradient(to bottom, $light-green 70%, transparent 70%);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg"),
      linear-gradient(to bottom, $light-green 70%, transparent 70%);
    }
  }
}

@media (min-width: $desktop-width) {
  .bonus {
    width: 245px;
    margin: 0;
    padding-bottom: 0;
    min-height: 289px;
    background-color: $light-green;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.bonus__condition {
  padding-top: 186px;
  margin-right: auto;
  margin-left: auto;
  width: 165px;
  font-family: $font-arial;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 56px;
    height: 61px;
    margin-top: -122px;
    margin-left: 22px;
    background-image: url("../img/icon-gift.svg");
    fill: $white;
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (min-width: $tablet-width) {
  .bonus__condition {
    padding-top: 70px;
    margin-right: 120px;
    text-align: left;

    &::before {
      margin-top: -7px;
      margin-left: -333px;
    }
  }
}


@media (min-width: $desktop-width) {
  .bonus__condition {
    padding-top: 170px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    &::before {
      margin-top: -122px;
      margin-left: 23px;
    }
  }
}
