.btn {
  display: block;
  font-family: $font-oswald;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.btn--green {
  color: $white;
  background-color: $light-green;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $dark-green;
  }
}

.btn--grey {
  color: $dark-grey;
  background-color: $light-grey;

  &:hover {
    background-color: $border-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: $border-grey;
  }
}

@media (min-width: $tablet-width) {
  .btn--inline {
    display: inline-block;
  }
}
