.card-product {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 208px;
  border-top: 1px solid $border-grey;
  border-right: 1px solid $border-grey;
  border-left: 1px solid $border-grey;
}

@media (min-width: $tablet-width) {
  .card-product {
    width: 250px;
    padding-right: 37px;
    padding-left: 37px;
    min-height: 431px;
    background-color: $light-grey;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .card-product {
    width: 169px;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.card-product__info {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .card-product__info {
    display: block;
    position: relative;
    margin-top: 161px;
  }
}

.card-product__image-description-link {
  display: block;
  width: 140px;
  height: 144px;
}

@media (min-width: $tablet-width) {
  .card-product__image-description-link {
    position: absolute;
    width: auto;
    height: auto;
    left: 60px;
    top: -200px;
  }
}

@media (min-width: $desktop-width) {
  .card-product__image-description-link {
    left: 15px;
    top: -200px;
  }
}

.card-product__title {
  width: 74px;
  margin-top: 22px;
  margin-bottom: 10px;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  color: $grey-black;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .card-product__title {
    width: 124px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 24px;
  }
}

.card-product__text-description-link {
  color: $grey-black;
}

@media (min-width: $tablet-width) {
  .card-product__table {
    width: 100%;
    margin-bottom: 33px;
  }
}

.card-product__order-link {
  display: block;
  width: auto;
  font-size: 16px;
  line-height: 40px;
}
