.example {
  min-height: 645px;
  padding-top: 27px;
  padding-bottom: 32px;
  background-color: $light-grey;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 62px;
    background-color: $white;
    background-image: linear-gradient(to right, $example1 50%, $example2 50%);
    background-position: 0 620px;
    background-repeat: no-repeat;
    border-top: 1px solid $input-grey;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 110px;
    padding-bottom: 63px;
    padding-left: 110px;
    min-height: 535px;
    border-top: none;
    background-image: linear-gradient(to right, $example1 72.5%, $example2 72.5%);
    background-position: 0 136px;
  }
}

.example__main-wrapper--left {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .example__main-wrapper--left {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__main-wrapper--left {
    width: 430px;
    margin-left: 0;
  }
}

.example__main-wrapper--right {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .example__main-wrapper--right {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__main-wrapper--right {
    width: 650px;
    margin: 0;
  }
}

.example__title {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  font-family: $font-oswald;
  color: $black;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .example__title {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin-top: 33px;
  margin-right: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-family: $font-arial;
  color: $dark-grey;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .example__description {
    width: 700px;
    margin-top: 63px;
    margin-right: 0;
    margin-bottom: 54px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    width: 436px;
    margin-top: 146px;
    margin-right: 0;
    margin-bottom: 69px;
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .example__second-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .example__second-wrapper {
    display: block;
    margin-bottom: 0;
    padding: 0;
  }
}

.example__terms-wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .example__terms-wrapper {
    width: 365px;
    margin: 0;
  }
}

.example__weight,
.example__time {
  margin: 0;
  width: 124px;
}

@media (min-width: $tablet-width) {
  .example__weight,
  .example__time {
    width: 162px;
  }
}

.example__term {
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  font-family: $font-oswald;
  color: $black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $extra-border-grey;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example__term {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  display: block;
  width: 57px;
  margin: 0;
  margin-top: -9px;
  margin-left: 18px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: $light-grey;;
  font-family: $font-arial;
  color: $dark-grey;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__definition {
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .example__weight .example__definition {
    width: 100px;
    margin-left: 20px;
  }

  .example__time .example__definition {
    width: 130px;
    margin-left: 8px;
  }
}

@media (min-width: $desktop-width) {
  .example__definition {
    background-color: $light-grey;
  }
}

.example__spent-money {
  margin-top: 18px;
  margin-bottom: 40px;
  font-family: $font-oswald;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__spent-money {
    width: 180px;
    margin: 0;
    margin-bottom: 5px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__spent-money {
    width: auto;
    margin: 0;
    margin-top: 50px;
    text-align: left;

    & span {
      margin-left: 60px;
    }
  }
}

@media (min-width: $tablet-width) {
  .example__photo-wrapper {
    position: relative;
    width: 630px;
    height: 518px;
  }
}

@media (min-width: $desktop-width) {
  .example__photo-wrapper {
    height: 450px;
  }
}

.example__before {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .example__before {
    position: absolute;
    width: 25%;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 230px;
    z-index: 1;
  }
}

.example__after {
  display: none;
}

@media (min-width: $tablet-width) {
  .example__after {
    position: absolute;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 260px;
  }
}

.example__switch-to-compare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  min-height: 20px;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .example__switch-to-compare {
    width: 568px;
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .example__switch-to-compare {
    width: 570px;
    margin-right: 0;
    margin-top: 49px;
  }
}

.example__slider {
  display: block;

  &--white-back {
    width: 72px;
    height: 6px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border-radius: 6px;
    border: solid 1px #cdcdcd;
    background-color: $white;
  }

  &--green-back {
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: $light-green;
  }
}

@media (min-width: $tablet-width) {
  .example__range {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }
}

@media (min-width: $tablet-width) {
  .example__slider--white-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px $light-green;
    }
  }
}

@media (min-width: $tablet-width) {
  .example__slider--green-back {
    width: 8px;
    height: 8px;
    background-color: $light-green;
    border-radius: 50%;
  }
}

.example__before-text,
.example__after-text {
  font-family: $font-oswald;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__before-text,
  .example__after-text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #bebebe;
    }

    &:active {
      border-bottom: none;
    }
  }
}
