.extra-field-group {
  margin: 0;
  padding: 0;
  border-top: 3px solid $light-green;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.extra-field-group__title {
  margin-top: 31px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-oswald;
  color: $black;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .extra-field-group__title {
    margin-top: 69px;
    margin-left: 30px;
    margin-bottom: 53px;
    padding-right: 44px;
    padding-left: 39px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .extra-field-group__title {
    margin-top: 72px;
    margin-left: 70px;
  }
}

@media (min-width: $tablet-width) {
  .extra-field-group__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 112px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .extra-field-group__wrapper {
    display: flex;
    flex-wrap: nowrap;
    min-height: 40px;
    justify-content: space-between;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.extra-field-group__label {
  display: block;
  margin-bottom: 13px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-oswald;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  &--last-input {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .extra-field-group__label {
    width: 45%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .extra-field-group__label {
    width: 25%;
  }
}

.extra-field-group__checkbox {
  margin-right: 16px;
}

@media (min-width: $tablet-width) {
  .extra-field-group__checkbox {
    margin-right: 19px;
  }
}
