.extra-card-product {
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 17px;
  min-height: 97px;
  border-bottom: 1px solid $extra-border-grey;
}

@media (min-width: $tablet-width) {
  .extra-card-product {
    max-width: 633px;
    padding-top: 28px;
    padding-right: 37px;
    padding-bottom: 28px;
    padding-left: 38px;
    min-height: 82px;
    border: 1px solid $extra-border-grey;
  }
}

@media (min-width: $desktop-width) {
  .extra-card-product {
    display: flex;
    align-items: center;
    max-width: 895px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
    min-height: 40px;
    border: none;
    border-top: 1px solid $extra-border-grey;

    &:last-child {
      border-bottom: 1px solid $extra-border-grey;
    }
  }
}

@media (min-width: $tablet-width) {
  .extra-card-product__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .extra-card-product__wrapper {
    width: 650px;
    margin-right: 35px;
  }
}

.extra-card-product__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: $font-oswald;
  color: $grey-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .extra-card-product__title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-card-product__text-description-link {
  color: $grey-black;
}

.extra-card-product__link-order {
  display: block;
  margin-top: 14px;
  font-size: 16px;
  line-height: 40px;
}

@media (min-width: $desktop-width) {
  .extra-card-product__link-order {
    margin-top: 0;
    width: 245px;
  }
}
