@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-right: 30px;
    min-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 0;
    min-height: 52px;
  }
}

.main-nav__wrapper {
  display: flex;
  min-height: 65px;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    min-height: 40px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    padding-top: 70px;
  }
}

.main-nav__logo {
  display: block;

  &:hover {
    fill-opacity: 0.8;
  }

  &:active {
    fill-opacity: 0.6;
  }
}

.main-nav__button-menu {
  display: none;
  width: 18px;
  height: 18px;
  margin-left: auto;
  padding: 0;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__button-menu {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 50%;
    padding-top: 71px;
  }
}
