.order-form {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .order-form {
    width: 768px;
    padding-top: 53px;
    padding-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    width: 1440px;
    padding-top: 56px;
    padding-bottom: 82px;
  }
}

.order-form__description {
  margin: 0;
  margin-right: 54px;
  margin-bottom: 40px;
  font-family: $font-oswald;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .order-form__description {
    margin-right: 306px;
    margin-bottom: 66px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__description {
    margin-right: 850px;
    margin-left: 0;
  }
}

.order-form__submit {
  display: block;
  margin-top: 39px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 40px;
  border: none;
}

@media (min-width: $tablet-width) {
  .order-form__submit {
    display: inline-block;
    margin-top: 59px;
    margin-right: 61px;
    margin-left: 71px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__submit {
    margin-top: 66px;
    margin-right: 81px;
    margin-left: 110px;
    width: 568px;
    line-height: 52px;
  }
}

.order-form__note {
  display: block;
  margin-top: 21px;
  font-family: $font-arial;
  color: $black;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .order-form__note {
    display: inline-block;
    margin-top: 59px;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .order-form__note {
    margin-top: 66px;
    line-height: 52px;
  }
}
