.owner-contacts {
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .owner-contacts {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .owner-contacts {
    margin-bottom: 68px;
  }
}
