.product-preview {
  min-height: 455px;
  padding-top: 25px;
  padding-bottom: 22px;
  background-image: url("../img/index-background-mobile@1x.jpg"),
                    linear-gradient(to bottom, $dark-green 61%, transparent 61%);
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"),
    linear-gradient(to bottom, $dark-green 61%, transparent 61%);;
    background-size: 320px auto, cover;
  }
}

@media (min-width: $tablet-width) {
  .product-preview {
    min-height: 808px;
    padding-top: 54px;
    padding-bottom: 0;
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .product-preview {
    position: relative;
    min-height: 550px;
    padding-top: 115px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -113px;
      left: auto;
      width: 50%;
      height: 694px;
      right: 0;
      background-color: $dark-green;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top right;
      background-repeat: no-repeat;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .product-preview__main-wrapper {
    position: relative;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.product-preview__second-wrapper {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .product-preview__second-wrapper {
    margin-left: 87px;
    width: 415px;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__second-wrapper {
    margin-left: 80px;
  }
}

.product-preview__title {
  margin: 0;
  margin-bottom: 26px;
  font-family: $font-oswald;
  font-size: 36px;
  color: $white;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-preview__title {
    margin-bottom: 41px;
    font-size: 60px;
    color: $black;
    line-height: 60px;
    text-align: left;
  }
}

.product-preview__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $font-oswald;
  font-size: 14px;
  color: $white;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-preview__text {
    margin-bottom: 20px;
    font-size: 20px;
    color: $black;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__text {
    margin-bottom: 52px;
  }
}

.product-preview__food-pic img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $desktop-width) {
  .product-preview__food-pic img {
    position: absolute;
    top: -80px;
    left: 450px;
  }
}

.product-preview__btn-program {
  width: auto;
  margin-top: 3px;
  font-size: 14px;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .product-preview__btn-program {
    position: absolute;
    margin: 0;
    top: 369px;
    left: 119px;
    width: 245px;
    font-size: 20px;
    line-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__btn-program {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 80px;
  }
}
