.programs {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 1220px;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: $light-grey;

  &--last-item {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .programs__item {
    min-height: 268px;
    margin-bottom: 30px;
    padding: 52px;

    &--last-item {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__item {
    margin: 0;
  }
}

.programs__title {
  margin: 0;
  margin-left: 70px;
  color: $black;
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;

  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -70px;
    background-color: $light-green;
  }
}

.programs__title--slim::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 35px;
  height: 49px;
  margin-left: -170px;
  margin-top: -2px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.programs__title--pro::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 67px;
  height: 28px;
  margin-left: -215px;
  margin-top: 11px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .programs__title {
    width: 250px;
    margin: 0;
    margin-top: 28px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 200px;
      height: 200px;
      margin-top: 14px;
      margin-left: 395px;
    }
  }
}

@media (min-width: $tablet-width) {
  .programs__title--slim::after {
    width: 140px;
    height: 192px;
    margin-left: 259px;
    margin-top: 3px;
  }
}

@media (min-width: $tablet-width) {
  .programs__title--pro::after {
    width: 268px;
    height: 113px;
    margin-left: 153px;
    margin-top: 56px;
  }
}

@media (min-width: $desktop-width) {
  .programs__title {
    margin-left: 162px;

    &::before {
      width: 100px;
      height: 100px;
      margin-top: -30px;
      margin-left: -162px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__title--slim::after {
    width: 70px;
    height: 97px;
    margin-top: -33px;
    margin-left: -311px;
  }
}

@media (min-width: $desktop-width) {
  .programs__title--pro::after {
    width: 134px;
    height: 57px;
    margin-top: -10px;
    margin-left: -387px;
  }
}

.programs__description {
  margin: 0;
  margin-top: 23px;
  padding-bottom: 21px;
  font-family: $font-arial;
  font-size: 14px;
  color: $dark-grey;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .programs__description {
    width: 377px;
    padding: 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;

    &--width {
      width: 340px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__description {
    width: auto;;
    margin-top: 73px;
  }
}

.programs__catalog-link {
  display: block;
  margin-top: 20px;
  font-family: $font-oswald;
  font-size: 16px;
  color: $black;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.programs__catalog-link::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 25px;
  height: 12px;
  margin-top: 2px;
  margin-left: 14px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.programs__catalog-link:hover::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.programs__catalog-link:active::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .programs__catalog-link {
    margin-top: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .programs__catalog-link::after {
    margin-top: 10px;
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .programs__catalog-link {
    margin-top: 28px;
  }
}
