.show-more {
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  min-height: 156px;
  border: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .show-more {
    width: 250px;
    padding-top: 55px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;
    min-height: 336px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 169px;
  }
}

.show-more svg {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.show-more polygon {
  fill: $extra-border-grey;
}

@media (min-width: $tablet-width) {
  .show-more svg {
    width: 60px;
    height: 60px;
  }
}

.show-more__show-products {
  margin-top: 22px;
  margin-bottom: 0;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  color: $light-black;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .show-more__show-products {
    margin-top: 49px;
    margin-right: auto;
    margin-left: auto;
    width: 170px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text-detail {
  margin-top: 8px;
  margin-bottom: 21px;
  font-family: $font-arial;
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .show-more__text-detail {
    width: 170px;
    margin-top: 23px;
    margin-right: auto;
    margin-bottom: 87px;
    margin-left: auto;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__link-more {
  display: block;
  width: auto;
  font-size: 16px;
  line-height: 40px;
}
