.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.social__link {
  fill: $grey;

  &:hover {
    fill: $light-green;
  }

  &:active {
    fill: $light-green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    &--vk svg {
      width: 30px;
      height: 22px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;
    }

    &--facebook svg {
      width: 13px;
      height: 27px;
    }
  }
}
