$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
$light-green: #68b738;
$dark-green: #5eaa2f;
$white: #ffffff;
$black: #000000;
$light-black: #111111;
$light-grey: #f2f2f2;
$dark-grey: #444444;
$grey: #666666;
$grey-black: #222222;
$tablet-width: 768px;
$desktop-width: 1440px;
